<%= erb :'components/header',
    :locals => {is_login: true, is_staff: true, user_name: @logined_staff[:user][:name] }  %>

<main>
    <div class="contents-container">
        <%= erb :'components/contents_title',
            :locals => {title: '作成フォーム(学生)' }  %>
        <div class="contents form-container">
            <div class="pre-sentence">必要な情報を入力してください</div>
            <%# エラーメッセージがある場合はエラーメッセージを表示 %>
            <div class="err"><%= @err.nil? ? '' : @err %></div>
            <%# 成功メッセージがある場合は成功メッセージを表示 %>
            <div class="msg"><%= @msg.nil? ? '' : @msg %></div>

            <form action="/admin/student/create/process/" method="POST" enctype="multipart/form-data">
                <div class="form-item">
                    <div class="title">学籍番号</div>
                    <%# 以前の入力があればその入力を初期値として設定 %>
                    <input class="input" type="number" name="student_id"
                        value="<%= @form_data.nil? ? '' : @form_data[:student_id] %>">
                    <%# 学籍番号のバリデーション失敗時のメッセージ(Ajaxで取得)を表示 %>
                    <div id="student_id_error" class="ajax_err"></div>
                    <%# 学籍番号から生成されるメールアドレスのバリデーション失敗時のメッセージ(Ajaxで取得)を表示 %>
                    <div id="email_error" class="ajax_err"></div>
                </div>

                <div class="form-item">
                    <div class="title">名前</div>
                    <%# 以前の入力があればその入力を初期値として設定 %>
                    <input class="input" type="text" name="user_name"
                        value="<%= @form_data.nil? ? '' : @form_data[:user_name] %>">
                    <%# 名前のバリデーション失敗時のメッセージ(Ajaxで取得)を表示 %>
                    <div id="user_name_error" class="ajax_err"></div>
                </div>

                <div class="form-item">
                    <div class="title">学年</div>
                    <input class="input" type="number" name="grade"
                        value="<%= @form_data.nil? ? '' : @form_data[:grade] %>">
                    <%# 学年のバリデーション失敗時のメッセージ(Ajaxで取得)を表示 %>
                    <div id="grade_error" class="ajax_err"></div>
                </div>

                <div class="form-item">
                    <div class="title">学科</div>
                    <%# 以前の入力があればその入力を初期値として設定 %>
                    <select class="input" name="department_id">
                        <% @departments.each do |department| %>
                            <option id="department-<%= department[:id] %>"
                                value="<%= department[:id] %>"><%= department[:name] %></option>
                            <% unless  @form_data.nil?  %>
                                <script>
                                if ('<%= @form_data[:department_id] == department[:id].to_s %>' === 'true')
                                        document.getElementById('department-<%= department[:id] %>').selected = true
                                </script>
                            <% end %>
                        <% end %>
                    </select>
                    <%# 学科のバリデーション失敗時のメッセージ(Ajaxで取得)を表示 %>
                    <div id="department_id_error" class="ajax_err"></div>
                </div>

                <div class="form-item">
                    <div class="title">部屋番号</div>
                    <%# 以前の入力があればその入力を初期値として設定 %>
                    <input class="input" type="number" name="room_num" id="room_num" autocomplete="on" list="room_auto_list"
                        value="<%= @form_data.nil? ? '' : @form_data[:room_num] %>">
                    <%# 入力補完が追加されるDOM %>
                    <datalist id="room_auto_list">
                    </datalist>
                    <%# 部屋番号のバリデーション失敗時のメッセージ(Ajaxで取得)を表示 %>
                    <div id="room_num_error" class="ajax_err"></div>
                </div>
                <div class="form-item">
                    <div class="title">学生の画像</div>
                    <input class="input" type="file" id="student_img" name="student_img" onchange="previewImg(this);" ></p>
                    <%# 入力欄に読み込んだ画像のプレビュー %>
                    <img id="preview">
                    <%# 入力欄に読み込んだ画像をプレビューに表示 %>
                    <script>
                        const previewImg = (obj) => {
                            const fileReader = new FileReader();
                            fileReader.onload = () => {
                                document.getElementById('preview').src = fileReader.result;
                            }
                            fileReader.readAsDataURL(obj.files[0])
                        }
                    </script>
                </div>
                <div class="form-item">
                    <div class="title">パスワード</div>
                    <input class="input" type="password" name="raw_passwd">
                </div>

                <div class="form-item">
                    <div class="title">確認用パスワード</div>
                    <input class="input" type="password" name="config_passwd">
                    <%# パスワードのバリデーション失敗時のメッセージ(Ajaxで取得)を表示 %>
                    <div id="passwd_error" class="ajax_err"></div>
                </div>

                <input type="submit" value="登録">
            </form>
        </div>
    </div>

    <%= erb :'components/links', :locals => {links: @links }  %>
</main>


<script src="/js/admin/student/create_ajax.js"></script>
<script src="/js/admin/student/room_input_complete.js"></script>