<%= erb :'components/header',
    :locals => {is_login: true, is_staff: true, user_name: @logined_staff[:user][:name] }  %>

<main>
    <div class="contents-container">
        <%= erb :'components/contents_title',
            :locals => {title: '学生管理ページ' }  %>
        <div class="table-container">
            <div class="controller-container">
                <a href="/admin/student/create/form/">作成</a>
                <form  id="delete_bulk" action="/admin/student/delete/process/" method="POST">
                    <input id="student_ids_input" type="hidden" name="student_ids">
                    <input type="submit" value="一括削除">
                </form>
            </div>

            <div class="msg-container">
                <%# エラーメッセージがある場合はエラーメッセージを表示 %>
                <div class="err"><%= @err.nil? ? '' : @err %></div>
                <%# 成功メッセージがある場合は成功メッセージを表示 %>
                <div class="msg"><%= @msg.nil? ? '' : @msg %></div>
            </div>

            <table border="1">
                <thead>
                    <tr>
                        <th>　　</th>
                        <th>学籍番号</th>
                        <th>名前</th>
                        <th>学年</th>
                        <th>学科</th>
                        <th>部屋番号</th>
                        <th>学生写真</th>
                        <th>　　</th>
                        <th>　　　　　　　</th>
                        <th>　　</th>
                    </tr>
                </thead>
                <tbody id="students">
                    <% @students.each do |student|  %>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td><%= student[:id] %></td>
                            <td><%= student[:user][:name] %></td>
                            <td><%= student[:grade] %>年</td>
                            <td><%= student[:department][:name] %>（<%= student[:department][:omit_name] %>）</td>
                            <td><%= student[:room][:room] %>号室</td>
                            <td>
                                <%# 学生の画像がある場合は表示し, ない場合は何も表示しない %>
                                <% unless student[:img_name].nil? %>
                                    <img src="http://localhost:9998/files/student/<%= student[:img_name] %>" style="height: 100px; width: auto;">
                                <% end %>
                            <td>
                                <a href="/admin/student/update/<%= student[:id] %>/form/">編集</a>
                            </td>
                            <td>
                                <a href="/admin/student/passwd/update/<%= student[:id] %>/form/">パスワード編集</a>
                            </td>
                            <td>
                                <form action="/admin/student/delete/process/" method="POST">
                                    <input type="hidden" name="student_ids" value="<%= student[:id] %>">
                                    <input type="submit" value="削除"></p>
                                </form>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>

    <%= erb :'components/links', :locals => {links: @links }  %>
</main>


<script src="/js/admin/student/root_bulk.js"></script>