<%= erb :'components/header',
    :locals => {is_login: true, is_staff: true, user_name: @logined_staff[:user][:name] }  %>

<main>
    <div class="contents-container">
        <%= erb :'components/contents_title',
            :locals => {title: '編集フォーム(スタッフ)' }  %>
        <div class="contents form-container">
            <div class="pre-sentence">必要な情報を入力してください</div>
            <%# エラーメッセージがある場合はエラーメッセージを表示 %>
            <div class="err"><%= @err.nil? ? '' : @err %></div>
            
            <form action="/admin/staff/update/<%= @staff_id %>/process/" method="POST">
                <div class="form-item">
                    <div class="title">メールアドレス</div>
                    <%# 現在のメールアドレスを表示 %>
                    <div class="input"><%= @form_data[:email] %></div>
                </div>

                <div class="form-item">
                    <div class="title">名前</div>
                    <%# 元の情報か以前の入力を初期値として設定 %>
                    <input class="input" type="text" name="user_name"
                        value="<%= @form_data.nil? ? '' : @form_data[:user_name] %>">
                    <%# 名前のバリデーション失敗時のメッセージ(Ajaxで取得)を表示 %>
                    <div id="user_name_error" class="ajax_err"></div>
                </div>

                <input type="submit" value="変更">
            </form>
        </div>
    </div>

    <%= erb :'components/links', :locals => {links: @links }  %>
</main>

<script src="/js/admin/staff/update_ajax.js"></script>