<%= erb :'components/header',
    :locals => {is_login: true, is_staff: true, user_name: @logined_staff[:user][:name] }  %>
<main>
    <div class="contents-container">
        <%= erb :'components/contents_title',
            :locals => {title: 'パスワード編集フォーム(スタッフ)' }  %>
        <div class="contents form-container">
            <div class="pre-sentence">現在のパスワードと新しいパスワードを入力してください</div>
            <%# エラーメッセージがある場合はエラーメッセージを表示 %>
            <div class="err"><%= @err.nil? ? '' : @err %></div>

            <form action="/admin/staff/passwd/update/<%= @staff[:id] %>/process/" method="POST">
                <div class="form-item">
                    <div class="title">メールアドレス</div>
                    <%# 現在のメールアドレスを表示 %>
                    <div class="input"><%= @staff[:user][:email] %></div>
                </div>

                <div class="form-item">
                    <div class="title">現在のパスワード</div>
                    <input class="input" type="password" name="now_passwd">
                </div>

                <div class="form-item">
                    <div class="title">新しいパスワード</div>
                    <input class="input" type="password" name="new_passwd">
                    <%# パスワードのバリデーション失敗時のメッセージ(Ajaxで取得)を表示 %>
                    <div id="passwd_error" class="ajax_err"></div>
                </div>

                <input type="submit" value="変更">
            </form>
        </div>
    </div>

    <%= erb :'components/links', :locals => {links: @links }  %>
</main>